@font-face {
  font-family: 'droid_serifbold';
  src: url("../fonts/DroidSerif/droidserif-bold.eot");
  src: url("../fonts/DroidSerif/droidserif-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif/droidserif-bold.woff2") format("woff2"), url("../fonts/DroidSerif/droidserif-bold.woff") format("woff"), url("../fonts/DroidSerif/droidserif-bold.ttf") format("truetype"), url("../fonts/DroidSerif/droidserif-bold.svg#droid_serifbold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'droid_serifbold_italic';
  src: url("../fonts/DroidSerif/droidserif-bolditalic.eot");
  src: url("../fonts/DroidSerif/droidserif-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif/droidserif-bolditalic.woff2") format("woff2"), url("../fonts/DroidSerif/droidserif-bolditalic.woff") format("woff"), url("../fonts/DroidSerif/droidserif-bolditalic.ttf") format("truetype"), url("../fonts/DroidSerif/droidserif-bolditalic.svg#droid_serifbold_italic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'droid_serifitalic';
  src: url("../fonts/DroidSerif/droidserif-italic.eot");
  src: url("../fonts/DroidSerif/droidserif-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif/droidserif-italic.woff2") format("woff2"), url("../fonts/DroidSerif/droidserif-italic.woff") format("woff"), url("../fonts/DroidSerif/droidserif-italic.ttf") format("truetype"), url("../fonts/DroidSerif/droidserif-italic.svg#droid_serifitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'droid_serifregular';
  src: url("../fonts/DroidSerif/droidserif-regular.eot");
  src: url("../fonts/DroidSerif/droidserif-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif/droidserif-regular.woff2") format("woff2"), url("../fonts/DroidSerif/droidserif-regular.woff") format("woff"), url("../fonts/DroidSerif/droidserif-regular.ttf") format("truetype"), url("../fonts/DroidSerif/droidserif-regular.svg#droid_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bira_personal_use_onlyregular';
  src: url("../fonts/Bira/bira_personal_use_only.eot");
  src: url("../fonts/Bira/bira_personal_use_only.eot?#iefix") format("embedded-opentype"), url("../fonts/Bira/bira_personal_use_only.woff2") format("woff2"), url("../fonts/Bira/bira_personal_use_only.woff") format("woff"), url("../fonts/Bira/bira_personal_use_only.ttf") format("truetype"), url("../fonts/Bira/bira_personal_use_only.svg#bira_personal_use_onlyregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; }

body {
  max-width: 1685px;
  background-image: url(../images/bg_part.jpg);
  background-size: contain; }

#header, #content, #footer {
  padding-right: 15.9%;
  padding-left: 17.8%; }

h2, h3, h4 {
  font-family: 'Montserrat', sans-serif; }

h2 {
  font-size: 1.875rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1rem; }

#news-text {
  margin-top: 1.6rem;
  font-family: 'droid_serifregular', sans-serif;
  font-size: 14px;
  color: #4a4a4a; }

.slide-button, .lifestyle-button, .display-button, .bottom-button-left, .bottom-button-right, .share-button, .display-button-addon, .input-button, .top-btn {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.5s ease 0s , background-color 0.5s ease 0s , border 0.5s ease 0s , -webkit-box-shadow 0.5s ease 0s;
  transition: color 0.5s ease 0s , background-color 0.5s ease 0s , border 0.5s ease 0s , -webkit-box-shadow 0.5s ease 0s;
  transition: color 0.5s ease 0s , background-color 0.5s ease 0s , border 0.5s ease 0s , box-shadow 0.5s ease 0s;
  transition: color 0.5s ease 0s , background-color 0.5s ease 0s , border 0.5s ease 0s , box-shadow 0.5s ease 0s , -webkit-box-shadow 0.5s ease 0s; }

.slide-button {
  position: relative;
  width: 163px;
  height: 43px;
  padding: 12px 2rem;
  margin: 55px 0 120px;
  font-size: 13px;
  color: white;
  background-color: #22bb66;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25); }
  .slide-button::before {
    position: absolute;
    top: -7px;
    left: -7px;
    z-index: -1;
    width: 177px;
    height: 57px;
    content: '';
    background-color: #7a7a7a;
    border-radius: 5px; }

.lifestyle-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 131px;
  height: 37px;
  font-size: 12px;
  color: black;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .lifestyle-button::before, .lifestyle-button::after {
    position: absolute;
    z-index: -1;
    content: ''; }
  .lifestyle-button::before {
    top: -7px;
    left: -7px;
    width: 144px;
    height: 50px;
    border: 2px solid white; }
  .lifestyle-button:hover {
    color: #22bb66; }
  .lifestyle-button.active::after {
    left: 40%;
    width: 23px;
    height: 250px;
    content: '';
    background-color: white;
    -ms-transform: translateY(-50%); }

.display-button {
  width: 78px;
  height: 27px;
  font-size: 10px;
  color: #22bb66;
  border: 1px solid #22bb66;
  border-radius: 3px; }
  .display-button:hover {
    color: white;
    background: #22bb66; }

.bottom-button-left, .bottom-button-right, .share-button {
  min-height: 1.88rem;
  font-size: 0.625rem;
  color: #c7c7c7;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25); }

.bottom-button-left {
  width: 8.75rem; }

.bottom-button-right {
  width: 7.1875rem; }

.display-button-addon {
  width: 1.5625rem;
  min-height: 1.88rem;
  font-size: 0.625rem;
  color: white;
  background-color: #22bb66;
  border: none;
  border-radius: 0 3px 3px 0;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25); }

.share-button {
  position: relative;
  margin-bottom: 30px; }
  .share-button::before, .share-button::after {
    position: absolute;
    top: 50%;
    width: 70px;
    height: 3px;
    content: "";
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25); }
  .share-button::before {
    left: 100px; }
  .share-button::after {
    right: 100px; }

.custom-input, .input-button {
  height: 42px;
  font-size: 12px; }

.custom-input {
  color: #bdbdbd;
  background-color: #f7f7f7;
  border: none;
  border-radius: 3px 3px 0 0; }
  .custom-input:focus {
    border: 2px solid #22bb66;
    -webkit-box-shadow: none;
    box-shadow: none; }

.input-button {
  color: #f7f7f7;
  background-color: #21bb65;
  border-radius: 0 0 3px 3px;
  border: 2px solid #22bb66; }

.subscribe-link {
  display: none; }

.footer-input {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  color: #bdbdbd;
  border: none; }
  .footer-input:focus {
    padding-left: 0;
    border: 2px solid #bdbdbd;
    -webkit-box-shadow: none;
    box-shadow: none; }

.top-btn {
  width: 6.875rem;
  height: 6.875rem;
  margin: 2rem 0 0 1rem;
  background-color: #f1f1f1; }
  .top-btn:hover {
    color: #22bb66;
    -webkit-box-shadow: 0 0 5px 5px #22bb66;
    box-shadow: 0 0 5px 5px #22bb66; }
  .top-btn .fa-chevron-up {
    font-size: 2rem; }
  .top-btn .btn-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8125rem;
    color: black; }
    .top-btn .btn-text b {
      font-size: inherit; }

.social-list .social-item .social-link {
  text-decoration: none; }
  .social-list .social-item .social-link .logo-social-icon {
    color: #c7c7c7; }
    .social-list .social-item .social-link .logo-social-icon:hover {
      color: black; }
  .social-list .social-item .social-link .display-social-icon {
    color: #c7c7c7; }
    .social-list .social-item .social-link .display-social-icon:hover {
      color: #22bb66; }
  .social-list .social-item .social-link .share-social-icon {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    color: white;
    background-color: black;
    border-radius: 50%; }
    .social-list .social-item .social-link .share-social-icon:hover {
      background-color: #22bb66; }
  .social-list .social-item .social-link .testimonials-social-icon {
    color: black; }
    .social-list .social-item .social-link .testimonials-social-icon:hover {
      color: #22bb66; }
  .social-list .social-item .social-link .logo-social-icon, .social-list .social-item .social-link .display-social-icon, .social-list .social-item .social-link .share-social-icon, .social-list .social-item .social-link .testimonials-social-icon {
    -webkit-transition: color 0.5s ease 0s , background-color 0.5s ease 0s;
    transition: color 0.5s ease 0s , background-color 0.5s ease 0s; }

#header {
  padding-top: 2.8rem;
  padding-bottom: 4.3rem; }
  #header #header-top {
    height: 4.4rem;
    text-transform: uppercase; }
    #header #header-top .nav {
      width: 545px;
      padding: 0;
      margin-right: 2rem; }
      #header #header-top .nav .nav-item {
        position: relative; }
        #header #header-top .nav .nav-item::after {
          position: absolute;
          top: 2px;
          left: 110%;
          width: 4px;
          height: 70%;
          content: "";
          background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, #c7c7c7));
          background: linear-gradient(#fff 50%, #c7c7c7 50%);
          background-size: 100% 3px; }
        #header #header-top .nav .nav-item .nav-link, #header #header-top .nav .nav-item .dropdown-item-link-custom {
          padding: 0.2rem 1rem;
          font-family: 'Montserrat', sans-serif;
          font-size: 13px;
          color: #4d4d4d;
          -webkit-transition: color 0.5s ease 0s;
          transition: color 0.5s ease 0s; }
          #header #header-top .nav .nav-item .nav-link:hover, #header #header-top .nav .nav-item .nav-link:active, #header #header-top .nav .nav-item .dropdown-item-link-custom:hover, #header #header-top .nav .nav-item .dropdown-item-link-custom:active {
            color: #22bb66; }
        #header #header-top .nav .nav-item:last-child::after {
          display: none; }
        #header #header-top .nav .nav-item .dropdown-item-custom {
          -webkit-transition: background-color 0.5s ease 0s;
          transition: background-color 0.5s ease 0s; }
  #header .logo .tagline::before, #header .logo .tagline::after {
    position: absolute;
    top: 13px;
    width: 100px;
    height: 2px;
    content: "";
    background-color: #22bb66; }
  #header .logo {
    margin: 5.7rem 5.2% 2rem 0; }
    #header .logo .social-list {
      width: 170px;
      font-size: 1rem; }
    #header .logo .tagline {
      position: relative;
      margin: 0.6rem 0 1rem 0;
      font-family: 'bira_personal_use_onlyregular';
      font-size: 12px; }
      #header .logo .tagline::before {
        right: 180px; }
      #header .logo .tagline::after {
        left: 180px; }

.carousel-custom {
  padding: 0 15% 0 17%; }

.carousel-item-custom {
  z-index: 1;
  color: white;
  background-color: #595959; }
  .carousel-item-custom .slide-title {
    max-width: 545px;
    margin: 170px 0 40px 0; }
  .carousel-item-custom .slide-text {
    max-width: 440px;
    font-family: 'droid_serifitalic';
    font-size: 15px; }

.move-icon {
  width: 3.44rem;
  height: 3.44rem;
  background-color: #474747;
  border-radius: 3px; }
  .move-icon #right-icon {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1); }

#content {
  padding-top: 5.31rem; }

.lifestyle-inner {
  margin-bottom: 1.3rem; }
  .lifestyle-inner .lifestyle-col {
    position: relative;
    max-width: 22rem;
    height: 15.625rem; }
    .lifestyle-inner .lifestyle-col .lifestyle-container {
      position: relative;
      height: 100%;
      -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.25); }
      .lifestyle-inner .lifestyle-col .lifestyle-container .lifestyle-box {
        background-color: #808080;
        border: 6px solid white; }

.left-content-side {
  padding-right: 14px;
  padding-left: 0; }
  .left-content-side .travel-block-big, .left-content-side .travel-block-small {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
    .left-content-side .travel-block-big .display-image, .left-content-side .travel-block-small .display-image {
      background-color: #666; }
    .left-content-side .travel-block-big .display-buttons-container, .left-content-side .travel-block-small .display-buttons-container {
      max-width: 10.63rem; }
      .left-content-side .travel-block-big .display-buttons-container .circle, .left-content-side .travel-block-small .display-buttons-container .circle {
        width: 5px;
        height: 5px;
        background-color: #c7c7c7; }
    .left-content-side .travel-block-big .display-bottom, .left-content-side .travel-block-small .display-bottom {
      height: 4.1875rem;
      background-color: #f9f9f9; }
      .left-content-side .travel-block-big .display-bottom .social-list, .left-content-side .travel-block-small .display-bottom .social-list {
        width: 22%;
        margin-bottom: 0; }
  .left-content-side .travel-block-big .display-image {
    height: 24.81rem; }
  .left-content-side .travel-block-big .display-content {
    padding-bottom: 2.2rem; }
    .left-content-side .travel-block-big .display-content .display-buttons-container {
      margin: 1.9rem 5px 1.56rem; }
  .left-content-side .travel-block-big .display-content, .left-content-side .travel-block-big .display-bottom {
    padding-right: 5.5%;
    padding-left: 5.5%; }
  .left-content-side .travel-block-small {
    margin: 5rem 0 7.56rem 0; }
    .left-content-side .travel-block-small .display-image {
      height: 12.4rem; }
    .left-content-side .travel-block-small .display-content {
      padding-bottom: 2.65rem; }
      .left-content-side .travel-block-small .display-content .display-buttons-container {
        margin: 1.45rem 0 1.75rem 0; }
    .left-content-side .travel-block-small .display-content, .left-content-side .travel-block-small .display-bottom {
      padding-right: 8.7%;
      padding-left: 5.3%; }
  .left-content-side .pagination-custom {
    margin-top: 4rem; }
    .left-content-side .pagination-custom a {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      color: black;
      background: none;
      border: none;
      -webkit-transition: color 0.5s ease 0s;
      transition: color 0.5s ease 0s; }
      .left-content-side .pagination-custom a:hover, .left-content-side .pagination-custom a:active {
        color: #22bb66; }

.right-content-side {
  padding-right: 0;
  padding-left: 1.8rem; }
  .right-content-side .right-content-block {
    padding: 2rem 8%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
    .right-content-side .right-content-block .gift-inner {
      height: 24.625rem;
      padding: 0 8% 3.5rem 8%;
      background-color: #808080; }
      .right-content-side .right-content-block .gift-inner .gift-text {
        margin-top: 0.375rem;
        font-size: 12px;
        color: #71f9ae; }
    .right-content-side .right-content-block .follow-block b {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      color: #969696; }
    .right-content-side .right-content-block .testimonials-img {
      height: 16.625rem;
      margin: 1rem 7% 2.5rem 4%;
      background-color: #808080; }
    .right-content-side .right-content-block .testimonials-link {
      font-family: 'droid_serifregular', sans-serif;
      font-size: 14px;
      color: #22bb66;
      -webkit-transition: font-weight 0.5s ease 0s;
      transition: font-weight 0.5s ease 0s; }
      .right-content-side .right-content-block .testimonials-link:hover {
        font-weight: bold; }
    .right-content-side .right-content-block .testimonials-sign {
      margin-bottom: 1.875rem; }
    .right-content-side .right-content-block .articles-list {
      margin: 1rem 0 -30px 0; }
      .right-content-side .right-content-block .articles-list .articles-item {
        margin-bottom: 30px;
        color: black;
        text-decoration: none; }
        .right-content-side .right-content-block .articles-list .articles-item:hover {
          text-decoration: underline; }
        .right-content-side .right-content-block .articles-list .articles-item .articles-img {
          min-width: 3.75rem;
          height: 3.75rem;
          margin-right: 15px;
          background-color: #7f7f7f; }
        .right-content-side .right-content-block .articles-list .articles-item .articles-comment {
          font-size: 10px;
          color: #838383; }

#footer {
  min-height: 245px; }
  #footer .footer-input-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9375rem;
    color: #666; }
  #footer .copyright {
    height: 63px;
    font-family: 'Playfair Display', serif;
    font-size: 0.875rem;
    font-weight: bold; }

@media only screen and (max-width: 1200px) {
  html {
    font-size: 14px; }
    html .bottom-button-left {
      width: 5rem; }
    html .bottom-button-right {
      max-width: 4rem; }
    html .share-button::before, html .share-button::after {
      width: 30px; }
    html .share-button::before {
      left: 75px; }
    html .share-button::after {
      right: 75px; }
    html .footer-input-text {
      padding-left: 3rem; } }

@media only screen and (max-width: 768px) {
  .left-content-side, .right-content-side {
    padding: 0; }
  .top-btn {
    width: 5rem;
    height: 5rem; } }

@media only screen and (max-width: 576px) {
  #header #header-top .nav .nav-item .nav-link, #header #header-top .nav .nav-item .dropdown-item-link-custom {
    padding: 0 1rem;
    font-size: 10px; }
  .lifestyle-inner .lifestyle-col {
    width: 30%;
    height: 5rem; }
    .lifestyle-inner .lifestyle-col .lifestyle-button {
      width: 50%;
      font-size: 8px; }
      .lifestyle-inner .lifestyle-col .lifestyle-button::before {
        width: 125%; }
      .lifestyle-inner .lifestyle-col .lifestyle-button.active::after {
        width: 10px;
        height: 5rem; }
  #footer .footer-input-text {
    font-size: 10px;
    color: #666; }
  #footer .footer-input {
    padding: 0; }
  #footer .top-btn {
    width: 50px;
    height: 50px;
    margin: 0; }
    #footer .top-btn .fa-chevron-up {
      font-size: 1rem; }
    #footer .top-btn .btn-text {
      font-size: 10px; } }
