@font-face {
  font-family: 'droid_serifbold';
  src: url("../fonts/DroidSerif/droidserif-bold.eot");
  src: url("../fonts/DroidSerif/droidserif-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif/droidserif-bold.woff2") format("woff2"), url("../fonts/DroidSerif/droidserif-bold.woff") format("woff"), url("../fonts/DroidSerif/droidserif-bold.ttf") format("truetype"), url("../fonts/DroidSerif/droidserif-bold.svg#droid_serifbold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'droid_serifbold_italic';
  src: url("../fonts/DroidSerif/droidserif-bolditalic.eot");
  src: url("../fonts/DroidSerif/droidserif-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif/droidserif-bolditalic.woff2") format("woff2"), url("../fonts/DroidSerif/droidserif-bolditalic.woff") format("woff"), url("../fonts/DroidSerif/droidserif-bolditalic.ttf") format("truetype"), url("../fonts/DroidSerif/droidserif-bolditalic.svg#droid_serifbold_italic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'droid_serifitalic';
  src: url("../fonts/DroidSerif/droidserif-italic.eot");
  src: url("../fonts/DroidSerif/droidserif-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif/droidserif-italic.woff2") format("woff2"), url("../fonts/DroidSerif/droidserif-italic.woff") format("woff"), url("../fonts/DroidSerif/droidserif-italic.ttf") format("truetype"), url("../fonts/DroidSerif/droidserif-italic.svg#droid_serifitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'droid_serifregular';
  src: url("../fonts/DroidSerif/droidserif-regular.eot");
  src: url("../fonts/DroidSerif/droidserif-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif/droidserif-regular.woff2") format("woff2"), url("../fonts/DroidSerif/droidserif-regular.woff") format("woff"), url("../fonts/DroidSerif/droidserif-regular.ttf") format("truetype"), url("../fonts/DroidSerif/droidserif-regular.svg#droid_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bira_personal_use_onlyregular';
  src: url("../fonts/Bira/bira_personal_use_only.eot");
  src: url("../fonts/Bira/bira_personal_use_only.eot?#iefix") format("embedded-opentype"), url("../fonts/Bira/bira_personal_use_only.woff2") format("woff2"), url("../fonts/Bira/bira_personal_use_only.woff") format("woff"), url("../fonts/Bira/bira_personal_use_only.ttf") format("truetype"), url("../fonts/Bira/bira_personal_use_only.svg#bira_personal_use_onlyregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  max-width: 1685px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  background-image: url(../images/bg_part.jpg);
  background-size: contain; }

h2, h3, h4 {
  font-family: 'Montserrat', sans-serif; }

.social-list {
  width: 170px;
  padding: 0;
  margin-bottom: 0; }
  .social-list .fab, .social-list .fas {
    color: #c7c7c7; }

.slide-button, .lifestyle-button, .lifestyle-button.active, .display-button, .footer-button, .display-button-addon {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-transform: uppercase; }

.slide-button {
  position: relative;
  width: 163px;
  height: 43px;
  padding: 12px 2rem;
  margin: 55px 0 120px;
  font-size: 13px;
  color: white;
  background-color: #22bb66;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25); }
  .slide-button::before {
    position: absolute;
    top: -7px;
    left: -7px;
    z-index: -1;
    width: 177px;
    height: 57px;
    content: '';
    background-color: #7a7a7a;
    border-radius: 5px; }

.lifestyle-button, .lifestyle-button.active {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 131px;
  height: 37px;
  font-size: 12px;
  color: black;
  background-color: white;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .lifestyle-button::before, .lifestyle-button.active::before, .lifestyle-button::after, .lifestyle-button.active::after {
    position: absolute;
    z-index: -1;
    content: ''; }
  .lifestyle-button::before, .lifestyle-button.active::before {
    top: -7px;
    left: -7px;
    width: 144px;
    height: 50px;
    border: 2px solid white; }

.active.lifestyle-button::after {
  left: 50%;
  width: 23px;
  height: 250px;
  margin-right: -50%;
  content: '';
  background-color: white;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.display-button {
  width: 78px;
  height: 27px;
  font-size: 10px;
  color: #22bb66;
  border: 1px solid #22bb66;
  border-radius: 3px; }
  .display-button:hover {
    color: white;
    background: #22bb66; }

.footer-button {
  font-size: 10px;
  color: #c7c7c7;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  width: 140px; }

.display-button-addon {
  color: white;
  background-color: #22bb66;
  border: none;
  border-radius: 0 3px 3px 0;
  height: 100%;
  width: 30px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25); }

#header-top {
  height: 70px;
  text-transform: uppercase; }
  #header-top .nav {
    width: 514px;
    padding: 0; }
    #header-top .nav .nav-link {
      color: #4d4d4d;
      font-size: 13px;
      font-family: 'Montserrat', sans-serif; }
      #header-top .nav .nav-link:hover, #header-top .nav .nav-link:active {
        color: #22bb66; }

.logo .tagline::before, .logo .tagline::after {
  height: 2px;
  width: 100px;
  background-color: #22bb66;
  position: absolute;
  top: 13px;
  content: ""; }

.logo {
  margin: 125px 0 100px 0; }
  .logo .logo-social-icon:hover, .logo .logo-social-icon:active {
    color: black; }
  .logo .tagline {
    position: relative;
    font-family: 'bira_personal_use_onlyregular';
    font-size: 12px;
    margin: 3px 0 1rem 0; }
    .logo .tagline::before {
      right: 200px; }
    .logo .tagline::after {
      left: 200px; }

.carousel-item-custom {
  z-index: 1;
  color: white;
  background-color: #595959; }
  .carousel-item-custom .slide-title {
    max-width: 545px;
    margin: 170px 0 40px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px; }
  .carousel-item-custom .slide-text {
    max-width: 440px;
    font-family: 'droid_serifitalic';
    font-size: 15px; }

.move-icon {
  width: 60px;
  height: 60px;
  margin-top: 90px;
  background-color: #474747;
  border-radius: 3px; }
  .move-icon #right-icon {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1); }

#content {
  margin: 0 17.21% 0 15.43%; }
  #content .lifestyle-inner {
    padding: 0;
    margin: 85px 0 70px; }
    #content .lifestyle-inner .lifestyle-col {
      position: relative;
      height: 250px; }
      #content .lifestyle-inner .lifestyle-col .lifestyle-container {
        position: relative;
        height: 100%;
        background-color: white;
        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.25); }
        #content .lifestyle-inner .lifestyle-col .lifestyle-container .lifestyle-box {
          width: 100%;
          height: 100%;
          background-color: #808080;
          border: 6px solid white; }
  #content .left-content-side .travel-block {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
    #content .left-content-side .travel-block .displayImage {
      height: 395px;
      background-color: #666; }
    #content .left-content-side .travel-block .display-content {
      padding: 0 40px 0 30px;
      background: #fff; }
      #content .left-content-side .travel-block .display-content .display-buttons-container {
        margin: 30px 0 25px; }
        #content .left-content-side .travel-block .display-content .display-buttons-container .circle {
          width: 5px;
          height: 5px;
          margin: 0 1rem;
          background-color: #c7c7c7;
          border-radius: 50%; }
      #content .left-content-side .travel-block .display-content .display-title {
        font-size: 24px; }
      #content .left-content-side .travel-block .display-content .display-text {
        margin: 40px 0;
        font-family: 'droid_serifregular', sans-serif;
        font-size: 14px; }
    #content .left-content-side .travel-block .display-footer {
      height: 67px;
      padding: 0 40px 0 30px;
      background-color: #f9f9f9; }
      #content .left-content-side .travel-block .display-footer .display-social-icon:hover, #content .left-content-side .travel-block .display-footer .display-social-icon:active {
        color: #22bb66; }
      #content .left-content-side .travel-block .display-footer .display-btn-group {
        height: 30px; }
