%button {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.slide-button {
    @extend %button;

    position: relative;
    width: 163px;
    height: 43px;
    padding: 12px 2rem;
    margin: 55px 0 120px;
    font-size: 13px;
    color: white;
    background-color: $green;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);

    &::before {
        position: absolute;
        top: -7px;
        left: -7px;
        z-index: -1;
        width: 177px;
        height: 57px;
        content: '';
        background-color: #7a7a7a;
        border-radius: 5px;
    }
}

.lifestyle-button {
    @extend %button;
    
    position: absolute;
    top: 50%;
    left: 50%;
    width: 131px;
    height: 37px;
    font-size: 12px;
    color: black;
    background-color: white;
    transform: translate(-50%, -50%);

    &::before, &::after {
        position: absolute;
        z-index: -1;
        content: '';
    }

    &::before {
        top: -7px;
        left: -7px;
        width: 144px;
        height: 50px;
        border: 2px solid white;
    }    
}

.lifestyle-button.active {
    @extend .lifestyle-button;

    &::after {
        left: 50%;
        width: 23px;
        height: 250px;
        margin-right: -50%;
        content: '';
        background-color: white;
        transform: translate(-50%, 0);
    }
}

.display-button {
    @extend %button;

    width: 78px;
    height: 27px;
    font-size: 10px;
    color: $green;
    border: 1px solid $green;
    border-radius: 3px;

    &:hover {
        color: white;
        background: $green;
    }
}

.footer-button {
    @extend %button;
    
    font-size: 10px;
    color: #c7c7c7;
    box-shadow: 0 0 2px rgba(0,0,0,0.25);
    width: 140px;
    // height: 30px;
    // border-radius: 3px;
}

.display-button-addon {
    @extend %button;
    
    color: white;
    background-color: $green;
    border: none;
    border-radius: 0 3px 3px 0;
    height: 100%;
    width: 30px;
    box-shadow: 0 0 2px rgba(0,0,0,0.25);
}
