#content {
    margin: 0 290px 0 260px;
    
    .lifestyle-inner {
        
        margin: 85px 0;

        .lifestyle-box {
            // max-width: 355px;
            border: 6px solid white;
            background-color: #808080;
            box-shadow: 0 0 2px rgba(0,0,0,0.25);
            min-height: 250px;
        }
    }
}
