#content {
    padding-top: 5.31rem;
    padding-bottom: 4.25rem;
}

.lifestyle-inner {
    margin-bottom: 1.3rem;

    .lifestyle-col {
        position: relative;
        max-width: 360px;
        height: 15.625rem;

        .lifestyle-container {
            position: relative;
            height: 100%;
            // background-color: white;
            box-shadow: 0 0 2px rgba(0,0,0,0.25);

            .lifestyle-box {
                width: 100%;
                height: 100%;
                background-color: #808080;
                border: 6px solid white;
            }
        }
    }
}

.left-content-side {
    // padding-right: 14px;
    // padding-left: 0;
    padding: 3rem 14px 3rem 0;

    .travel-block-big, .travel-block-small {
        // margin: 3rem 0 2rem 0;
        box-shadow: 0 0 5px rgba(0,0,0,0.25);
    }

    .travel-block-big {
        .display-image {
            height: 24.81rem;
            background-color: #666;
        }

        .display-content {
            padding-bottom: 2.2rem;

            .display-buttons-container {
                max-width: 10.63rem;
                margin: 1.9rem 5px 1.56rem;

                .circle {
                    width: 5px;
                    height: 5px;
                    margin: 0 0.5rem;
                    background-color: $light-gray;
                    border-radius: 50%;
                }
            }
        }

        .display-content, .display-bottom {
            padding-right: 5.5%;
            padding-left: 5.5%;
        }

        .display-bottom {
            height: 4.1875rem;
            background-color: #f9f9f9;

            .social-list {
                width: 22%;
                margin-bottom: 0;
            }
        }
    }

    .travel-block-small {
        margin: 5rem 0 7.56rem 0;

        .display-image {
            height: 12.4rem;
            background-color: #666;
        }

        .display-content {
            padding-bottom: 2.65rem;

            .display-buttons-container {
                max-width: 10.63rem;
                margin: 1.45rem 0 1.75rem 0;

                .circle {
                    width: 5px;
                    height: 5px;
                    margin: 0 0.5rem;
                    background-color: $light-gray;
                    border-radius: 50%;
                }
            }
        }

        .display-content, .display-bottom {
            padding-right: 8.7%;
            padding-left: 5.3%;
        }

        .display-bottom {
            height: 4.1875rem;
            background-color: #f9f9f9;
        }
    }

    .pagination-custom {
        margin-top: 4rem;

        a {
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            color: black;
            background: none;
            border: none;

            &:hover, &:active {
                color: $green;
            }
        }
    }
}

.right-content-side {
    .right-content-block {
        padding: 33px 27px;
        margin: 40px 0;

        .gift-inner {
            height: 393px;
            padding: 60px 30px;
            background-color: #808080;

            .gift-text {
                margin-top: 10px;
                color: #71f9ae;
            }
        }

        .follow-block {
            font-size: 12px;
            color: #969696;

            .social-list {
                margin: 0 -5px;

                .social-item {
                    margin-right: 5px;
                }
            }
        }

        .testimonials-img {
            height: 266px;
            background-color: #808080;
        }

        .testimonials-link {
            margin-bottom: 26px;
            a {
                font-family: 'droid_serifregular', sans-serif;
                font-size: 14px;
                color: #2b6;
            }
        }

        .testimonials-sign {
            margin-bottom: 30px;
        }

        .testimonials-social-icon {
            color:black;
        }

        .articles-list {
            margin-bottom: -30px;

            .articles-item {
                margin-bottom: 30px;

                .articles-img {
                    width: 60px;
                    height: 60px;
                    margin-right: 15px;
                    background-color: #7f7f7f;
                }

                .articles-comment {
                    font-size: 10px;
                    color: #838383;
                }
            }
        }
    }
}
