@font-face {
    font-family: "DroidSerif-Regular"; 
    src: url("../fonts/DroidSerif/DroidSerif-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

@font-face {
    font-family: "DroidSerif-Italic"; 
    src: url("../fonts/DroidSerif/DroidSerif-Italic.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 