#header-top {
    height: 70px;
    text-transform: uppercase;
    
    .nav {
        width: 514px;
        padding: 0;

        .nav-link {
            color: #4d4d4d;
            font-size: 13px;
            font-family: 'Montserrat', sans-serif;
    
            &:hover,&:active {
                color: #22bb66;
            }
        }
    }
}

%greenline {
    height: 2px;
    width: 100px;
    background-color: #22bb66;
    position: absolute;
    top: 13px;
    content: "";
}

.logo {
    margin: 125px 0 100px 0;

    .tagline {
        position: relative;
        font-family: 'bira_personal_use_onlyregular';
        font-size: 12px;
        margin: 3px 0 1rem 0;

        &::before {
            @extend %greenline;
            
            right: 200px;
        }

        &::after {
            @extend %greenline;
            
            left: 200px;
        }
    }
}
