body {
    max-width: 1685px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    background-image: url(../images/bg_part.jpg);
    background-size: contain;
}

h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

#news-text {
    margin: 40px 0;
    font-family: 'droid_serifregular', sans-serif;
    font-size: 14px;
    color: #4a4a4a;
}
