html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body {
    max-width: 1685px;
    background-image: url(../images/bg_part.jpg);
    background-size: contain;
}

#header, #content, #footer {
    padding-right: 15.9%;
    padding-left: 17.8%;
}

h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

#news-text {
    margin-top: 1.6rem;
    font-family: 'droid_serifregular', sans-serif;
    font-size: 14px;
    color: #4a4a4a;
}
