$green: #22bb66;
$light-gray: #c7c7c7;

@mixin transition (
	$properties: all,
	$duration: 0.5s,
	$method: ease,
	$delay: 0s) {
	$value: ();

    @each $property in $properties {		

        @if length($value) > 0 {
			$value: append($value, unquote(",") #{$property} $duration $method $delay);
		}

        @else {
			$value: append($value, #{$property} $duration $method $delay);
		}
	}
	transition: $value;
}

// $spacer: 1rem;
// $spacers: (
    // 0: 0,
    // 1: $spacer * .25,
    // 2: $spacer * .5,
    // 3: $spacer,
    // 4: $spacer * 1.5,
    // 5: $spacer * 3,
// );

// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  #666,
//   "success":    $green,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark,
// );

// Breakpoint	Class infix	Dimensions
// X-Small	None	<576px
// Small	sm	≥576px
// Medium	md	≥768px
// Large	lg	≥992px
// Extra large	xl	≥1200px
// Extra extra large	xxl	≥1400px