$green: #22bb66;
$light-gray: #c7c7c7;

@mixin transition (
	$properties: all,
	$duration: 0.5s,
	$method: ease,
	$delay: 0s) {
	$value: ();

    @each $property in $properties {		

        @if length($value) > 0 {
			$value: append($value, unquote(",") #{$property} $duration $method $delay);
		}

        @else {
			$value: append($value, #{$property} $duration $method $delay);
		}
	}
	transition: $value;
}

// $spacer: 1rem;
// $spacers: (
    // 0: 0,
    // 1: $spacer * .25,
    // 2: $spacer * .5,
    // 3: $spacer,
    // 4: $spacer * 1.5,
    // 5: $spacer * 3,
// );

// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  #666,
//   "success":    $green,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark,
// );

// $font-sizes: (
//   1: $h1-font-size,
//   2: $h2-font-size,
//   3: $h3-font-size,
//   4: $h4-font-size,
//   5: $h5-font-size,
//   6: $h6-font-size
// );

// $h1-font-size:                $font-size-base * 2.5;
// $h2-font-size:                $font-size-base * 2;
// $h3-font-size:                $font-size-base * 1.75;
// $h4-font-size:                $font-size-base * 1.5;
// $h5-font-size:                $font-size-base * 1.25;
// $h6-font-size:                $font-size-base;
