#myCarousel.carousel.slide(data-bs-ride='carousel')
  .carousel-inner
    .carousel-item-custom.carousel-item.active.d-flex.flex-column.align-items-center.text-center
        h2.slide-title 
            b Playfair Display1: A new generation of typefaces and fonts.
        .slide-text Coming from two different cultures has been instrumental in how we’ve approached our design process. Himmelen is a daily updated everyday moments from all over the world.
        a.slide-button(href="#")
            b READ MORE
    .carousel-item-custom.carousel-item.d-flex.flex-column.align-items-center.text-center
        h2.slide-title 
            b Playfair Display2: A new generation of typefaces and fonts.
        .slide-text Coming from two different cultures has been instrumental in how we’ve approached our design process. Himmelen is a daily updated everyday moments from all over the world.
        a.slide-button(href="#")
            b READ MORE
    .carousel-item-custom.carousel-item.d-flex.flex-column.align-items-center.text-center
        h2.slide-title 
            b Playfair Display3: A new generation of typefaces and fonts.
        .slide-text Coming from two different cultures has been instrumental in how we’ve approached our design process. Himmelen is a daily updated everyday moments from all over the world.
        a.slide-button(href="#")
            b READ MORE
  button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
        span.move-icon.d-flex.justify-content-center.align-items-center(aria-hidden='true') 
            img(src="images/arrow.png", alt="")
        span.visually-hidden Previous
  button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
        span.move-icon.d-flex.justify-content-center.align-items-center(aria-hidden='true')
            img#right-icon(src="images/arrow.png", alt="")
        span.visually-hidden Next
