#content
    .container
        .row.lifestyle-inner
            .col-4
                .lifestyle-box
            .col-4
                .lifestyle-box
            .col-4
                .lifestyle-box