

#content
    .container
        ul.row.lifestyle-inner.justify-content-between.mt-5
            +lifestyleBlock ('3')
        .row
            .col-8.left-content-side
                +travelBlock (bigBlockTitle, bigBlockText, "y")
                .row 
                    .col-6
                        +travelBlock (smallBlockTitle, smallBlockText)
                    .col-6 
                        +travelBlock (smallBlockTitle, smallBlockText)
                +travelBlock (bigBlockTitle, bigBlockText, "y")
                .row
                    .col-6
                        +travelBlock (smallBlockTitle, smallBlockText)
                    .col-6 
                        +travelBlock (smallBlockTitle, smallBlockText)
                +travelBlock (bigBlockTitle, bigBlockText, "y")
                .pagination.d-flex.justify-content-center.align-items-center.my-5 
                    .page-item
                        a.page-link.pagination-item-custom
                            b « NEWER POSTS
                    .page-div / 
                    .page-item
                        a.page-link.pagination-item-custom 
                            b OLDER POSTS »
            .col-4.right-content-side
                .gift-block.bg-white.px-5.py-4.w-100.my-5
                    .gift-inner.bg-secondary.w-100.d-flex.flex-column.justify-content-end.align-items-center
                        img.gift-img(src="images/world-gift.png", alt="world gift")
                        .gift-text 
                            b OR GET STARTED ON SOME JOB...
                .share-social-block.bg-white.px-5.py-4.w-100
                    .button-block.d-flex.justify-content-between.align-items-center
                        .share-line
                        a.share-button SHARE ON
                        .share-line
                    .follow-block.d-flex.justify-content-between
                        .follow-text FOLLOW ME
                        i.fas.fa-caret-right
                        +socialList ('share-social-icon')
