#footer.bg-white 
    .row.d-flex.align-items-center
        .col-4 
            a(href="#")
                img.img-fluid(src="images/logo.png", alt="breviter")
        .col-8.d-flex.justify-content-between.align-items-center 
            form.subscribe-form
                a.footer-input-button.btn Subscribe now to receive our daily updates..
                input.form-control.footer-input(type="email" placeholder="Enter your e-mail here...")
            a.btn.rounded-circle.top-btn.d-flex.flex-column.justify-content-center.align-items-center(href="#") 
                i.fas.fa-chevron-up
                .btn-text
                    b.text-uppercase to top
    .copyright.d-flex.justify-content-center.align-items-center
        i @2015 - Copyright All Right Reserved. Designed and Developed by Whoever.
