header#header
  #header-top.fixed-top.bg-light.d-flex.justify-content-center.align-items-center
    ul.nav.d-flex.justify-content-between
      each value, name in {'main' : '1', 'demos' : '2', 'portfolio' : '3', 'blog' : '4', 'shortcodes' : '5'}
        li.nav-item
          a.nav-link(href="#"+value)
            b=name
  .logo.d-flex.flex-column.align-items-center
    +socialList('logo-social-icon')
    .tagline 
      b your tagline will go right here 
    a(href="#")
      img(src="images/logo.png", alt="breviter")
  