header
  div.fixed-top.bg-light.d-flex.justify-content-center.align-items-center#header-top
    ul.nav.d-flex.justify-content-between
      each value, name in {'main' : '1', 'demos' : '2', 'portfolio' : '3', 'blog' : '4', 'shortcodes' : '5'}
        li.nav-item
          a.nav-link(href="#"+value)
            b=name
  div.d-flex.flex-column.justify-content-center.align-items-center.logo
    include social.pug
    p.tagline your tagline will go right here 
    img(src="images/logo.png", alt="breviter")
  