header.d-flex.justify-content-center.py-3#header
        ul.nav
          each value, name in {'main' : '1', 'demos' : '2', 'portfolio' : '3', 'blog' : '4', 'shrtcodes' : '5'}
            li.nav-item
              a.nav-link.active(href= "#"+value )= b:name 