ul.d-flex.justify-content-between.social-list
    each socialmedia in ['facebook-f', 'twitter', 'instagram', 'pinterest-p', 'rss']
        li.nav-item
          a.nav-link(href=socialmedia+".com")
            i(class=`fab fa-${socialmedia}`)

